.idea/
nbproject/
bin/config.php
backend/config.py
*.pyc
Dokumentation/*.log
Dokumentation/*.aux
Dokumentation/*.toc
Dokumentation/*.out
Dokumentation/*.synctex.gz
/nbproject/private/
images/uploadMat/*.jpg
images/uploadMat/*.JPG
images/uploadMat/*.png
images/uploadMat/*.PNG

testcases/*.log
testcases/*.aux
testcases/*.toc
testcases/*.out
testcases/*.synctex.gz
testcases/*.bbl
testcases/*.bcf
testcases/*.blg
testcases/*.glo
testcases/*.idx
testcases/*.run.xml
testcases/*.ist
testcases/*.glsdefs
testcases/*.fls
testcases/*.fdb_latexmk
testcases/*.lof
testcases/*.pdf

additionalDocumentation/*.log
additionalDocumentation/*.aux
additionalDocumentation/*.toc
additionalDocumentation/*.out
additionalDocumentation/*.synctex.gz
additionalDocumentation/*.bbl
additionalDocumentation/*.bcf
additionalDocumentation/*.blg
additionalDocumentation/*.glo
additionalDocumentation/*.idx
additionalDocumentation/*.run.xml
additionalDocumentation/*.ist
additionalDocumentation/*.glsdefs
additionalDocumentation/*.fls
additionalDocumentation/*.fdb_latexmk
additionalDocumentation/*.lof
additionalDocumentation/*.pdf
additionalDocumentation/*.synctex(busy)

tjs/*.js
tjs/*.js.map
tjs/package-lock.json
tjs/node_modules

.vscode/
